@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: #f0d3d1;
  color: #221e34;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.full-app {
  min-height: 100vh;
}

.bd-footer {
  position: absolute;
  bottom: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-pic {
  height: 100px;
}

/*  luft balloons */
.dwizh {
  height: 100vh;
  position: absolute;
  z-index: 10000;
  overflow: hidden;
}

.gif-dance {
  max-width: 100vw;
  max-height: 40vh;
  animation: dwizh 8s ease-in-out;
}
.gif-dance::after {
  position: absolute;
  top: 50%;
}

@keyframes dwizh {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-50vh);
  }
}

#modal-root {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
}
/*  luft balloons */
.main-content {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.timer-block {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
